#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-order-button {
  background-color: violet;
}

.order {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order-item {
  background-color: rgb(255, 224, 178);
}

.order-form {

}

.order-form-item {
  margin-bottom: 20px;
  width: 200%;  
  background-color: rgb(255, 224, 178);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.order-input-field {
  width: 130%;
}

.error-field {
  color: red
}
