#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 95%;
  min-height: 100vh;

  color-scheme: light dark;
  color: #3e2522;
  background-color: #fff2df;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;

  flex-wrap: wrap;
}

*{
  color: #3e2522;
  flex-shrink: 0;
}

a {
  font-weight: 600;
  font-size: 20px;
  color: #8c6e63;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body, html {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  flex-shrink: 0;
  background-color: #fff2df;
}

header {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  font-size: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d3a376;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #8c6e63;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


input{
  background-color: #d3a376;
  color: #3e2522;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
}


input::placeholder{
  color: #3e2522;
}

.signin-form {
  width: 50%;
  height: 70vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  gap: 20px;
  padding: 0 20px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link{
  margin: 15px;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.product-container .image{
  width: 100%;
  height: 100px;
  background-size: cover;
  border-radius: 10px;
}

.product-container{
  width: calc(100%/5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffe0b2;
  padding: 20px 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.product-container .info{
  text-align: left;
  width: 100%;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
